.chip {
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: unset;
  border: unset;
  outline: none;
  text-decoration: none;

  flex-grow: 0;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;

  /** variant */
  &.filled {
    color: var(--font-color-info);
    background-color: var(--fill-color);
    &:hover {
      background-color: var(--fill-color-hover);
    }
  }
  &.outlined {
    border: 1px solid var(--border-color-3);
  }

  &.disabled {
    cursor: not-allowed;
  }
  &.clickable {
    cursor: pointer;
  }

  /** size */
  &.mini {
    font-size: inherit;
    height: var(--control-size-03);
    border-radius: var(--border-radius-02);
    padding: 0 var(--gap-03);
  }
  &.medium {
    padding: 0 var(--gap-05);
    height: var(--control-size-05);
    font-size: var(--font-size-04);
    border-radius: var(--border-radius-03);
  }
  &.huge {
    font-size: var(--font-size-03);
    height: var(--control-size-05);
    padding: 0 var(--gap-05);
  }

  .icon {
    margin-left: -0.4em;
    margin-right: 0.4em;
  }

  .close {
    cursor: pointer;
    margin-left: 0.4em;
    margin-right: -0.4em;
  }
}
