.chip {
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: unset;
  outline: none;
  text-decoration: none;

  flex-grow: 0;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;

  transition-duration: 200ms;
  transition-timing-function: var(--ease-in-out-cubic);
  transition-property: color border-color border-width border-style background-color;

  .icon {
    margin-left: -0.4em;
    margin-right: 0.4em;
  }

  .close {
    z-index: 1;
    cursor: pointer;
    padding: 0 0.4em;
  }
}

/** status */
.disabled {
  cursor: not-allowed;
}
.clickable {
  cursor: pointer;
}

/** size */
.mini {
  height: auto;
  font-size: inherit;
  line-height: inherit;
  border-radius: var(--border-radius-02);
  padding: 0 var(--gap-02);

  .close {
    margin-right: -0.4em;
  }
}
.medium {
  padding: 0 var(--gap-05);
  height: var(--control-size-05);
  font-size: var(--font-size-04);
  border-radius: var(--border-radius-03);

  .close {
    margin-right: -0.8em;
  }
}
.huge {
  border-radius: var(--border-radius-04);
  font-size: var(--font-size-04);
  height: var(--control-size-06);
  padding: 0 var(--gap-06);

  .close {
    margin-right: -0.8em;
  }
}

/** variant */
.filled,
.bordered {
  border-width: 1px;
  border-style: solid;
}

.filled {
  border-color: transparent;
  .disabled {
    color: var(--font-color-disabled);
    background-color: var(--fill-color-disabled);
  }
  &:not(.disabled) {
    color: var(--font-color-info);
    background-color: var(--fill-color);
    &:hover {
      background-color: var(--fill-color-hover);
    }
  }
}
.bordered {
  .disabled {
    color: var(--font-color-disabled);
    border-color: var(--border-color-disabled);
  }
  &:not(.disabled) {
    border-color: var(--border-color-3);
    &.clickable:hover {
      color: var(--border-color-hover);
      border-color: var(--border-color-hover);
    }
  }
}
