.wrap {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  transition-duration: 0.2s;

  display: flex;
  align-items: center;
  flex-direction: unset;

  height: max-content;

  /** variant */
  &.filled,
  &.standard,
  &.bordered {
    border-radius: var(--border-radius-3);
  }
  &.filled,
  &.bordered {
    background-color: white;
  }
  &.filled {
  }
  &.standard {
  }
  &.bordered {
    border-color: rgb(var(--border-color));
    border-style: solid;
    border-width: 1px;

    &:focus-within {
      border-color: #1d39c3;
    }
  }

  /** pattern */
  &.editable {
  }

  &:not(.read-pretty) {
    /** size */
    &.mini {
      font-size: var(--font-size-3);
      min-height: var(--control-size-4);

      .icon-wrap {
        width: var(--control-size-1);
        height: var(--control-size-1);
      }
    }
    &.medium {
      font-size: var(--font-size-4);
      padding: var(--gap-2) var(--gap-4);
      min-height: var(--control-size-6);

      .icon-wrap {
        width: var(--control-size-2);
        height: var(--control-size-2);
      }
    }
    &.huge {
      font-size: var(--font-size-5);
      min-height: var(--control-size-8);

      .icon-wrap {
        width: var(--control-size-3);
        height: var(--control-size-3);
      }
    }
  }

  & > input {
    width: 100%;
  }
}

.icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
