[production staging]
Chrome > 65, Firefox > 87

[development]
fully supports abortcontroller and fully supports proxy and fully supports same-site-cookie-attribute and fully supports resizeobserver and fully supports css-sticky
