[production staging]
fully supports abortcontroller and fully supports proxy and fully supports same-site-cookie-attribute and fully supports resizeobserver and fully supports css-sticky

[development]
last 2 Chrome versions
