{
  "$schema": "https://json.schemastore.org/swcrc",
  "env": {
    "dynamicImport": true
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "development": false
      }
    },
    "externalHelpers": true
  },
  "minify": true
}