.card {
  overflow: hidden;
  // border: 1px solid #dbdbdb;
  border-radius: var(--border-radius-03);
  padding: var(--gap-05);

  &:not(:first-of-type) {
    margin-top: var(--gap-05);
  }

  .header {
    font-weight: 500;
    padding: var(--gap-03) var(--gap-05);
    background-color: rgb(var(--main-bg-color));
  }

  .content {
    padding: var(--gap-02) var(--gap-05);
  }
}
