#root.bright {
  --gap-1: calc(2vw / 3.75);
  --gap-2: calc(4vw / 3.75);
  --gap-3: calc(8vw / 3.75);
  --gap-4: calc(10vw / 3.75);
  --gap-5: calc(12vw / 3.75);
  --gap-6: calc(16vw / 3.75);
  --gap-7: calc(20vw / 3.75);
  --gap-8: calc(24vw / 3.75);
  --gap-9: calc(36vw / 3.75);
  --gap-10: calc(48vw / 3.75);

  --font-size-1: calc(8vw / 3.75);
  --font-size-2: calc(10vw / 3.75);
  --font-size-3: calc(12vw / 3.75);
  --font-size-4: calc(14vw / 3.75);
  --font-size-5: calc(15vw / 3.75);
  --font-size-6: calc(16vw / 3.75);
  --font-size-8: calc(20vw / 3.75);
  --font-size-9: calc(24vw / 3.75);
  --font-size-10: calc(28vw / 3.75);

  --control-height-1: calc(14vw / 3.75);
  --control-height-2: calc(16vw / 3.75);
  --control-height-3: calc(20vw / 3.75);
  --control-height-4: calc(24vw / 3.75);
  --control-height-5: calc(28vw / 3.75);
  --control-height-6: calc(32vw / 3.75);
  --control-height-7: calc(40vw / 3.75);
  --control-height-8: calc(48vw / 3.75);

  --border-radius-2: calc(4vw / 3.75);
  --border-radius-3: calc(6vw / 3.75);
  --border-radius-6: calc(12vw / 3.75);

  --font-color-8: rgba(0, 0, 0, 0.85);
  --font-color-b8: rgba(255, 255, 255, 0.85);

  --z-index-popup: 1000;
  --z-index-dropdown: 999;
  --z-index-affix: 999;
  --z-index-modal: 1001;
  --z-index-drawer: 1001;
  --z-index-tip: 999;
  --z-index-toast: 1003;
  --z-index-notification: 1003;
  --z-index-preview: 1003;
  --z-index-badge: auto;
  --z-index-fixed: 990;

  --main-bg-color: 232 240 255;
  --comp-bg-color: 255 255 255;
  --page-bg-color: 242 243 245;

  --wave-color: 82 11 239;
  --main-color: 47 84 235;

  --tip-bg-color: 0 0 0;
}

#root {
  color: var(--font-color-8);
  font-size: var(--font-size-4);
}