:root.dark {
  --orange-color-050: 46 29 21;
  --orange-color-100: 72 40 23;
  --orange-color-200: 108 61 32;
  --orange-color-300: 140 74 32;
  --orange-color-400: 199 98 35;
  --orange-color-500: 255 124 41;
  --orange-color-600: 245 147 77;
  --orange-color-700: 243 173 115;
  --orange-color-800: 248 201 157;
  --orange-color-900: 250 225 197;

  --sunset-color-050: 46 31 20;
  --sunset-color-100: 72 43 20;
  --sunset-color-200: 97 59 24;
  --sunset-color-300: 135 79 24;
  --sunset-color-400: 184 101 23;
  --sunset-color-500: 224 137 23;
  --sunset-color-600: 232 163 60;
  --sunset-color-700: 243 191 101;
  --sunset-color-800: 248 212 141;
  --sunset-color-900: 250 230 183;

  --sunglow-color-050: 45 39 20;
  --sunglow-color-100: 69 59 17;
  --sunglow-color-200: 90 78 16;
  --sunglow-color-300: 123 105 13;
  --sunglow-color-400: 168 141 8;
  --sunglow-color-500: 213 178 3;
  --sunglow-color-600: 232 206 39;
  --sunglow-color-700: 243 227 79;
  --sunglow-color-800: 248 239 119;
  --sunglow-color-900: 250 247 160;

  --shamrock-color-050: 33 41 20;
  --shamrock-color-100: 48 63 21;
  --shamrock-color-200: 64 82 25;
  --shamrock-color-300: 84 111 26;
  --shamrock-color-400: 111 150 27;
  --shamrock-color-500: 139 190 28;
  --shamrock-color-600: 169 211 63;
  --shamrock-color-700: 202 234 106;
  --shamrock-color-800: 227 248 152;
  --shamrock-color-900: 240 250 193;

  --green-color-050: 38 51 49;
  --green-color-100: 38 61 55;
  --green-color-200: 34 80 66;
  --green-color-300: 7 121 83;
  --green-color-400: 15 144 88;
  --green-color-500: 25 166 100;
  --green-color-600: 38 184 116;
  --green-color-700: 54 194 136;
  --green-color-800: 104 217 170;
  --green-color-900: 168 219 198;

  --viking-color-050: 20 37 38;
  --viking-color-100: 19 57 58;
  --viking-color-200: 22 76 76;
  --viking-color-300: 22 103 103;
  --viking-color-400: 21 139 139;
  --viking-color-500: 20 174 174;
  --viking-color-600: 53 195 190;
  --viking-color-700: 91 217 208;
  --viking-color-800: 136 233 224;
  --viking-color-900: 184 247 240;

  --malibu-color-050: 21 34 46;
  --malibu-color-100: 23 50 72;
  --malibu-color-200: 30 71 102;
  --malibu-color-300: 31 93 138;
  --malibu-color-400: 35 125 189;
  --malibu-color-500: 37 152 234;
  --malibu-color-600: 75 176 237;
  --malibu-color-700: 115 199 243;
  --malibu-color-800: 157 219 248;
  --malibu-color-900: 197 236 250;

  --blue-color-050: 30 34 52;
  --blue-color-100: 24 43 87;
  --blue-color-200: 28 58 122;
  --blue-color-300: 40 84 173;
  --blue-color-400: 39 98 217;
  --blue-color-500: 53 120 253;
  --blue-color-600: 82 141 255;
  --blue-color-700: 119 165 255;
  --blue-color-800: 158 191 255;
  --blue-color-900: 218 233 255;

  --dodger-color-050: 26 32 54;
  --dodger-color-100: 25 42 92;
  --dodger-color-200: 30 58 122;
  --dodger-color-300: 30 72 167;
  --dodger-color-400: 29 88 219;
  --dodger-color-500: 32 101 255;
  --dodger-color-600: 61 125 253;
  --dodger-color-700: 104 159 255;
  --dodger-color-800: 144 187 252;
  --dodger-color-900: 183 212 250;

  --heliotrope-color-050: 29 28 51;
  --heliotrope-color-100: 43 38 87;
  --heliotrope-color-200: 54 45 107;
  --heliotrope-color-300: 64 53 143;
  --heliotrope-color-400: 82 64 206;
  --heliotrope-color-500: 104 83 255;
  --heliotrope-color-600: 129 114 245;
  --heliotrope-color-700: 156 141 243;
  --heliotrope-color-800: 197 188 248;
  --heliotrope-color-900: 230 225 250;

  --violet-color-050: 43 33 61;
  --violet-color-100: 53 35 82;
  --violet-color-200: 70 45 107;
  --violet-color-300: 91 53 143;
  --violet-color-400: 115 61 191;
  --violet-color-500: 150 74 255;
  --violet-color-600: 155 93 232;
  --violet-color-700: 191 141 243;
  --violet-color-800: 219 188 248;
  --violet-color-900: 239 225 250;

  --purple-color-050: 50 24 51;
  --purple-color-100: 75 23 77;
  --purple-color-200: 92 24 92;
  --purple-color-300: 122 24 122;
  --purple-color-400: 161 23 161;
  --purple-color-500: 208 47 208;
  --purple-color-600: 225 60 219;
  --purple-color-700: 243 103 234;
  --purple-color-800: 248 144 237;
  --purple-color-900: 250 186 242;

  --rosein-color-050: 51 23 41;
  --rosein-color-100: 72 22 51;
  --rosein-color-200: 93 27 63;
  --rosein-color-300: 127 29 83;
  --rosein-color-400: 174 31 110;
  --rosein-color-500: 224 51 147;
  --rosein-color-600: 232 72 154;
  --rosein-color-700: 243 112 176;
  --rosein-color-800: 248 154 197;
  --rosein-color-900: 250 195 218;

  --red-color-050: 51 40 42;
  --red-color-100: 69 41 48;
  --red-color-200: 96 39 51;
  --red-color-300: 138 43 57;
  --red-color-400: 181 48 63;
  --red-color-500: 206 51 71;
  --red-color-600: 245 54 73;
  --red-color-700: 247 74 85;
  --red-color-800: 246 134 141;
  --red-color-900: 250 191 195;

  --gray-color-000: 0 0 0;
  --gray-color-025: 8 9 13;
  --gray-color-050: 23 23 31;
  --gray-color-080: 26 28 36;
  --gray-color-100: 32 34 44;
  /* --gray-color-150: 32 34 44; */
  --gray-color-200: 44 47 59;
  --gray-color-300: 49 53 67;
  --gray-color-400: 57 63 82;
  --gray-color-500: 128 136 156;
  --gray-color-600: 102 109 132;
  --gray-color-700: 142 150 171;
  --gray-color-800: 197 200 212;
  --gray-color-900: 240 242 247;
  --gray-color-1000: 255 255 255;

  /* 主题色 - 默认 */
  --primary-color: rgb(var(--blue-color-500) / 1);
  /* 主题色 - 悬浮态 */
  --primary-color-hover: rgb(var(--blue-color-600) / 0.9);
  /* 主题色 - 激活态 */
  --primary-color-active: rgb(var(--blue-color-600) / 1);
  /* 主题色 - 禁用态 */
  --primary-color-disabled: rgb(var(--blue-color-200) / 0.4);

  /* 次要颜色 - 默认 */
  --secondary-color: rgb(var(--dodger-color-500) / 1);
  /* 次要颜色 - 悬浮态 */
  --secondary-color-hover: rgb(var(--dodger-color-600) / 1);
  /* 次要颜色 - 激活态 */
  --secondary-color-active: rgb(var(--dodger-color-400) / 1);
  /* 次要颜色 - 禁用态 */
  --secondary-color-disabled: rgb(var(--dodger-color-500) / 0.4);

  /* 第三级颜色 - 默认 */
  --tertiary-color: rgb(var(--blue-color-500) / 1);
  /* 第三级颜色 - 悬浮态 */
  --tertiary-color-hover: rgb(var(--blue-color-600) / 1);
  /* 第三级颜色 - 激活态 */
  --tertiary-color-active: rgb(var(--blue-color-400) / 1);
  /* 第三级颜色 - 禁用态 */
  --tertiary-color-disabled: rgb(var(--blue-color-500) / 0.4);

  /* 警告色 - 默认 */
  --warn-color: rgb(var(--orange-color-500) / 1);
  /* 警告色 - 悬浮态 */
  --warn-color-hover: rgb(var(--orange-color-600) / 1);
  /* 警告色 - 激活态 */
  --warn-color-active: rgb(var(--orange-color-400) / 1);
  /* 警告色 - 禁用态 */
  --warn-color-disabled: rgb(var(--orange-color-200) / 1);

  /* 成功色 - 默认 */
  --success-color: rgb(var(--green-color-500) / 1);
  /* 成功色 - 悬浮态 */
  --success-color-hover: rgb(var(--green-color-600) / 1);
  /* 成功色 - 激活态 */
  --success-color-active: rgb(var(--green-color-400) / 1);
  /* 成功色 - 禁用态 */
  --success-color-disabled: rgb(var(--green-color-200) / 1);

  /* 危险色 - 默认 */
  --danger-color: rgb(var(--red-color-500) / 1);
  /* 危险色 - 悬浮态 */
  --danger-color-hover: rgb(var(--red-color-600) / 0.9);
  /* 危险色 - 激活态 */
  --danger-color-active: rgb(var(--red-color-600) / 1);
  /* 危险色 - 禁用态 */
  --danger-color-disabled: rgb(var(--red-color-500) / 0.5);

  /* 自然色 - 默认 */
  --natural-color: rgb(var(--gray-color-500) / 1);
  /* 自然色 - 悬浮态 */
  --natural-color-hover: rgb(var(--gray-color-400) / 0.6);
  /* 自然色 - 激活态 */
  --natural-color-active: rgb(var(--gray-color-400) / 1);
  /* 自然色 - 禁用态 */
  --natural-color-disabled: rgb(var(--gray-color-300) / 1);

  /* 填充色 - 默认 */
  --fill-color: rgb(var(--gray-color-600) / 0.2);
  /* 填充色 - 悬浮态 */
  --fill-color-hover: rgb(var(--gray-color-600) / 0.2);
  /* 填充色 - 激活态 */
  --fill-color-active: rgb(var(--gray-color-600) / 0.35);
  /* 填充色 - 选中态 */
  --fill-color-select: rgb(var(--blue-color-700) / 0.12);
  /* 填充色 - 禁用态 */
  --fill-color-disabled: rgb(var(--gray-color-300) / 1);

  /* 背景色 - 默认 */
  --bg-color-normal: rgb(var(--gray-color-080) / 1);
  /* 背景色 - 导航栏 */
  --bg-color-navbar: rgb(var(--gray-color-025) / 1);
  /* 背景色 - 遮罩层 */
  --bg-color-mask: rgb(var(--gray-color-000) / 0.4);

  /* 背景色 - 容器 */
  --bg-color-warp: rgb(var(--gray-color-400) / 0.3);
  /* 背景色 - 菜单 */
  --bg-color-menu: rgb(var(--gray-color-200) / 1);
  /* 背景色 - 卡片 */
  --bg-color-card: rgb(var(--gray-color-100) / 1);

  /* 背景色 - 控件 */
  --bg-color-control: rgb(var(--gray-color-050) / 1);
  /* 背景色 - 原件 */
  --bg-color-widgets: rgb(var(--gray-color-400) / 0.5);

  /* 背景色 - 小贴士 */
  --bg-color-tip: rgb(var(--gray-color-050) / 1);
  /* 背景色 - 浮层 */
  --bg-color-float: rgb(var(--gray-color-025) / 0.9);
  /* 背景色 - 滑块 */
  --bg-color-thumb: rgb(var(--gray-color-900) / 1);

  /* 背景色 - 强调 */
  --bg-color-info: rgb(var(--blue-color-050) / 1);
  /* 背景色 - 危险 */
  --bg-color-danger: rgb(var(--red-color-050) / 1);
  /* 背景色 - 警告 */
  --bg-color-warn: rgb(var(--orange-color-600) / 0.12);
  /* 背景色 - 成功 */
  --bg-color-success: rgb(var(--green-color-050) / 1);

  /* 边框色 - 主要场景 */
  --border-color-1: rgb(var(--gray-color-400) / 0.3);
  /* 边框色 - 次要场景 */
  --border-color-2: rgb(var(--gray-color-600) / 0.2);
  /* 边框色 - 特殊场景 */
  --border-color-3: rgb(var(--gray-color-600) / 0.4);
  /* 边框色 - 悬浮 */
  --border-color-hover: rgb(var(--gray-color-900) / 1);
  /* 边框色 - 激活 */
  --border-color-active: rgb(var(--dodger-color-800) / 1);
  /* 边框色 - 禁用 */
  --border-color-disabled: rgb(var(--gray-color-700) / 1);

  --font-color-2: rgba(255, 255, 255, 0.25);
  --font-color-4: rgba(255, 255, 255, 0.45);
  --font-color-6: rgba(255, 255, 255, 0.65);
  --font-color-8: rgba(255, 255, 255, 0.85);
  --font-color-10: rgba(255, 255, 255 / 1);
  --font-color-b8: rgba(255, 255, 255 / 1);

  /* 字体颜色 - 强调 */
  --font-color-info: rgb(var(--blue-color-900) / 1);
  /* 字体颜色 - 警告 */
  --font-color-warn: rgb(var(--orange-color-900) / 1);
  /* 字体颜色 - 危险 */
  --font-color-danger: rgb(var(--red-color-700) / 0.9);
  /* 字体颜色 - 成功 */
  --font-color-success: rgb(var(--green-color-900) / 1);
  /* 字体颜色 - 禁用 */
  --font-color-disabled: rgb(var(--gray-color-600) / 0.9);
  /* 字体颜色 - 高亮 */
  --font-color-highlight: rgb(var(--blue-color-600) / 1);

  /* 图标颜色-默认 */
  --icon-color: rgb(var(--gray-color-700) / 1);
  /* 图标颜色 - 强调 */
  --icon-color-info: rgb(var(--blue-color-500) / 1);
  /* 图标颜色 - 警告 */
  --icon-color-warn: rgb(var(--orange-color-500) / 1);
  /* 图标颜色 - 危险 */
  --icon-color-danger: rgb(var(--red-color-700) / 1);
  /* 图标颜色 - 成功 */
  --icon-color-success: rgb(var(--green-color-700) / 1);

  /* 波纹动画颜色 */
  --wave-color-0: rgb(var(--heliotrope-color-600) / 0.1);
  --wave-color-1: rgb(var(--heliotrope-color-600) / 0.05);
  --wave-color-2: rgb(var(--heliotrope-color-600) / 0.2);
  --wave-color-3: rgb(var(--heliotrope-color-600) / 0);

  --shadow-01: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-02: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadow-03: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --shadow-04: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --shadow-06: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --shadow-08: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --shadow-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --shadow-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadow-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

:root.dark {
  --z-index-fixed: 990;
  --z-index-dropdown: 998;
  --z-index-tip: 999;
  --z-index-float: 1000;
  --z-index-modal: 1001;
  --z-index-drawer: 1001;
  --z-index-toast: 1002;
  --z-index-preview: 1003;
  --z-index-notification: 1004;
  --z-index-badge: auto;
}

/* PC */
@media screen and (min-width: 1360px) {
  :root {
    --gap-00: 0px;
    --gap-01: 2px;
    --gap-02: 4px;
    --gap-03: 8px;
    --gap-04: 10px;
    --gap-05: 12px;
    --gap-06: 16px;
    --gap-07: 20px;
    --gap-08: 24px;
    --gap-09: 36px;
    --gap-10: 48px;

    --font-size-01: 10px;
    --font-size-02: 12px;
    --font-size-03: 14px;
    --font-size-04: 15px;
    --font-size-05: 16px;
    --font-size-06: 20px;
    --font-size-08: 24px;
    --font-size-09: 28px;
    --font-size-10: 32px;

    --control-size-01: 14px;
    --control-size-02: 16px;
    --control-size-03: 20px;
    --control-size-04: 24px;
    --control-size-05: 28px;
    --control-size-06: 32px;
    --control-size-07: 40px;
    --control-size-08: 48px;

    --border-radius-02: 4px;
    --border-radius-03: 6px;
    --border-radius-04: 8px;
    --border-radius-05: 10px;
    --border-radius-06: 12px;
    --border-radius-10: 9999px;
  }
}

/* iPad */
@media screen and (min-width: 430px) and (max-width: 1360px) {
  :root {
    --gap-00: 0px;
    --gap-01: 2px;
    --gap-02: 4px;
    --gap-03: 8px;
    --gap-04: 10px;
    --gap-05: 12px;
    --gap-06: 16px;
    --gap-07: 20px;
    --gap-08: 24px;
    --gap-09: 36px;
    --gap-10: 48px;

    --font-size-01: 10px;
    --font-size-02: 12px;
    --font-size-03: 14px;
    --font-size-04: 15px;
    --font-size-05: 16px;
    --font-size-06: 20px;
    --font-size-08: 24px;
    --font-size-09: 28px;
    --font-size-10: 32px;

    --control-size-01: 14px;
    --control-size-02: 16px;
    --control-size-03: 20px;
    --control-size-04: 24px;
    --control-size-05: 28px;
    --control-size-06: 32px;
    --control-size-07: 40px;
    --control-size-08: 48px;

    --border-radius-02: 4px;
    --border-radius-03: 6px;
    --border-radius-06: 12px;
    --border-radius-10: 9999px;
  }
}

/* iPhone */
@media screen and (max-width: 430px) {
  :root {
    --gap-00: 0vw;
    --gap-01: calc(2vw / 3.75);
    --gap-02: calc(4vw / 3.75);
    --gap-03: calc(8vw / 3.75);
    --gap-04: calc(10vw / 3.75);
    --gap-05: calc(12vw / 3.75);
    --gap-06: calc(16vw / 3.75);
    --gap-07: calc(20vw / 3.75);
    --gap-08: calc(24vw / 3.75);
    --gap-09: calc(36vw / 3.75);
    --gap-10: calc(48vw / 3.75);

    --font-size-01: calc(10vw / 3.75);
    --font-size-02: calc(12vw / 3.75);
    --font-size-03: calc(14vw / 3.75);
    --font-size-04: calc(15vw / 3.75);
    --font-size-05: calc(16vw / 3.75);
    --font-size-06: calc(20vw / 3.75);
    --font-size-08: calc(24vw / 3.75);
    --font-size-09: calc(28vw / 3.75);
    --font-size-10: calc(32vw / 3.75);

    --control-size-01: calc(14vw / 3.75);
    --control-size-02: calc(16vw / 3.75);
    --control-size-03: calc(20vw / 3.75);
    --control-size-04: calc(24vw / 3.75);
    --control-size-05: calc(28vw / 3.75);
    --control-size-06: calc(32vw / 3.75);
    --control-size-07: calc(40vw / 3.75);
    --control-size-08: calc(48vw / 3.75);

    --border-radius-02: calc(4vw / 3.75);
    --border-radius-03: calc(6vw / 3.75);
    --border-radius-06: calc(12vw / 3.75);
    --border-radius-10: 9999px;
  }
}