.overlay {
  display: grid;
  place-items: center;
  background-color: rgb(0 0 0 / 0.5);

  & > .wrap {
    min-width: 80vw;
    min-height: 12vh;

    border-radius: var(--border-radius-03);

    background-color: rgb(var(--comp-bg-color));

    position: relative;

    & > .close,
    & > .header,
    & > .footer {
      padding: var(--gap-04) var(--gap-05);
    }

    & > .close {
      position: absolute;
    }

    & > .header {
    }

    & > .content {
      padding: var(--gap-06) var(--gap-05);
    }

    & > .footer {
      & > button:not(:last-child) {
        margin-right: var(--gap-03);
      }
    }
  }
}
