.mask {
  z-index: var(--z-index-modal);
}

.wrap {
  max-width: 80vw;
  min-width: 20vw;

  border-radius: var(--border-radius-03);

  background-color: var(--bg-color-float);

  position: relative;
}

.header,
.footer {
  padding: var(--gap-04) var(--gap-05);
}

.icon {
  font-size: var(--font-size-06);
}

.close {
  top: var(--gap-04);
  right: var(--gap-05);
  width: var(--control-size-06);
  height: var(--control-size-06);
  position: absolute;
}

.header {
  font-weight: 600;
  line-height: var(--control-size-06);
  padding-right: var(--control-size-08);
}

.title {
  font-weight: 600;
  font-size: var(--font-size-06);
}

.content {
  padding: 0 var(--gap-05);
}

.footer {
  & > button:not(:last-child) {
    margin-right: var(--gap-03);
  }
}
