.wrap {
  position: relative;

  height: max-content;
  box-sizing: border-box;
  transition-duration: 0.2s;

  display: grid;
  align-items: center;
  grid-template-columns: max-content minmax(0, 1fr) max-content;

  & > :not(.icon-wrap) {
    flex-grow: 1;
  }

  &.read-pretty {
    width: max-content;
  }

  &:not(.read-pretty) {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius-03);

    /** size */
    &.mini {
      font-size: var(--font-size-03);
      min-height: var(--control-size-03);

      .icon-wrap {
        width: var(--control-size-01);
        height: var(--control-size-01);
        font-size: var(--control-size-01);
      }
    }
    &.medium {
      font-size: var(--font-size-04);
      padding: var(--gap-02) var(--gap-04);
      min-height: var(--control-size-06);

      .icon-wrap {
        width: var(--control-size-02);
        height: var(--control-size-02);
        font-size: var(--control-size-02);
      }
    }
    &.huge {
      font-size: var(--font-size-05);
      min-height: var(--control-size-08);
      padding: var(--gap-02) var(--gap-04);

      .icon-wrap {
        font-size: var(--font-size-06);
        width: var(--control-size-03);
        height: var(--control-size-03);
        font-size: var(--control-size-03);
      }
    }
  }

  & > input {
    width: 100%;
  }
}

.editable,
.read-only,
.read-pretty {
  font-family: inherit;
}

/** variant */
.filled,
.standard,
.bordered {
  &.disabled {
    color: var(--font-color-disabled);
  }
  &:not(.disabled) {
    &.danger {
      color: var(--font-color-danger);
    }
    &.warn {
      color: var(--font-color-warn);
    }
  }
}
.filled {
  border-color: transparent;
  &.disabled {
    background-color: var(--natural-color-disabled);
  }
  &:not(.disabled):not(.read-pretty) {
    &.danger {
      background-color: var(--bg-color-danger);
    }
    &.warn {
      background-color: var(--bg-color-warn);
    }
    &.success,
    &.vaildating {
      background-color: var(--bg-color-control);
    }
  }
}
.standard {
  border-color: transparent;
}
.bordered {
  &.disabled {
    border-color: var(--border-color-disabled);
    background-color: var(--natural-color-disabled);
  }
  &:not(.disabled) {
    &.danger {
      border-color: var(--danger-color);

      &:hover {
        border-color: var(--danger-color-hover);
      }
      &.focus,
      &:focus-within {
        border-color: var(--danger-color-active);
      }
    }
    &.success {
      border-color: var(--border-color-3);

      &:hover {
        border-color: var(--secondary-color-hover);
      }
      &.focus,
      &:focus-within {
        border-color: var(--secondary-color-active);
      }
    }
    &.warn {
      border-color: var(--warn-color);

      &:hover {
        border-color: var(--warn-color-hover);
      }
      &.focus,
      &:focus-within {
        border-color: var(--warn-color-active);
      }
    }
    &.vaildating {
      border-color: var(--border-color-2);
      &:hover {
        border-color: var(--secondary-color-hover);
      }
      &.focus,
      &:focus-within {
        border-color: var(--secondary-color-active);
      }
    }
  }
}

.clickable {
  cursor: pointer;
}

.icon-wrap {
  z-index: 1;
  color: inherit;
  font-size: inherit;
}
