.wrap {
  position: relative;

  width: 100%;
  height: max-content;
  box-sizing: border-box;
  transition-duration: 0.2s;

  display: grid;
  align-items: center;
  grid-template-columns: max-content minmax(0, 1fr) max-content;

  & > :not(.icon-wrap) {
    flex-grow: 1;
  }

  /** variant */
  &.filled,
  &.standard,
  &.bordered {
    border-radius: var(--border-radius-03);
  }
  &.filled,
  &.bordered {
    background-color: var(--bg-color-control);
  }
  &.filled {
  }
  &.standard {
  }
  &.bordered {
    border-color: var(--border-color-3);
    border-style: solid;
    border-width: 1px;

    &:focus-within {
      border-color: var(--border-color-active);
    }
  }

  /** pattern */
  &.editable {
  }

  &:not(.read-pretty) {
    /** size */
    &.mini {
      font-size: var(--font-size-03);
      min-height: var(--control-size-03);

      .icon-wrap {
        font-size: var(--font-size-02);
        height: var(--control-size-01);
      }
    }
    &.medium {
      font-size: var(--font-size-04);
      padding: var(--gap-02) var(--gap-04);
      min-height: var(--control-size-06);

      .icon-wrap {
        font-size: var(--font-size-03);
        height: var(--control-size-03);
      }
    }
    &.huge {
      font-size: var(--font-size-05);
      min-height: var(--control-size-08);
      padding: var(--gap-02) var(--gap-04);

      .icon-wrap {
        width: var(--control-size-03);
        height: var(--control-size-03);
      }
    }
  }

  & > input {
    width: 100%;
  }
}

.clickable {
  cursor: pointer;
}

.icon-wrap {
  z-index: 1;

  color: var(--font-color-2);

  &:first-of-type {
    margin-right: 0.3em;
  }

  &:last-of-type {
    margin-left: 0.3em;
  }
}
