.wrap {
  flex-direction: unset;

  &.inline {
    display: inline-flex;
  }

  &:not(.inline) {
    display: flex;
  }

  &.reverse {
    &.vertical {
      flex-direction: column-reverse;
    }
    &.horizontal {
      flex-direction: row-reverse;
    }
  }
  &:not(.reverse) {
    &.vertical {
      flex-direction: column;
    }
    &.horizontal {
      flex-direction: row;
    }
  }

  &:empty {
    display: none;
  }
}
