.container {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  .content {
    width: 100%;
    position: relative;

    .item {
      top: 0;
      left: 0;
      width: 100%;
      position: absolute;

      border-width: 1px;
      border-style: solid;
      border-color: transparent;

      box-sizing: border-box;

      border-bottom-color: rgb(var(--border-color));

      &:first-of-type {
        border-top-width: rgb(var(--border-color));
      }

      &.odd,
      &.even {
        width: 100%;
      }
    }
  }
}
