.thumb {
  inset: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;

  box-shadow: var(--shadow-03);
  background-color: var(--bg-color-float);
}

.item {
  z-index: 1;
  width: 100%;

  cursor: pointer;
  border-radius: inherit;
  background-color: unset;

  gap: var(--gap-02);
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.item-wrap {
  position: relative;
  display: inline-flex;
  border-radius: inherit;
}

.mini {
  padding: var(--gap-01);
  font-size: var(--font-size-02);
  border-radius: var(--border-radius-02);

  .item {
    min-height: var(--control-size-04);
    padding: var(--gap-00) var(--gap-02);
  }
}

.medium {
  padding: var(--gap-01);
  font-size: var(--font-size-03);
  border-radius: var(--border-radius-03);

  .item {
    min-height: var(--control-size-05);
    padding: var(--gap-01) var(--gap-03);
  }
}

.huge {
  padding: var(--gap-02);
  font-size: var(--font-size-04);
  border-radius: var(--border-radius-03);
  .item {
    min-height: var(--control-size-06);
    padding: var(--gap-01) var(--gap-03);
  }
}

.vertical {
  cursor: inherit;
}

.disabled {
  cursor: not-allowed;
  color: var(--font-color-disabled);
}

.read-only {
  cursor: unset;
}

.wrap {
  background-color: var(--bg-color-widgets);

  &.is-full-width {
    width: 100%;
    flex-grow: 1;

    .item-wrap {
      flex-grow: 1;
    }
  }
  &:not(.is-full-width) {
    flex-grow: 0;
    width: max-content;

    .item-wrap {
      flex-grow: 0;
    }
  }
}
