.item {
  width: 100%;

  top: 0;
  left: 0;
  position: absolute;
}

.scrollable {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: var(--border-radius-10);
    background-color: var(--bg-color-mask);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius-10);
    background-color: var(--bg-color-thumb);
  }
}
