.input {
  border: none;
  outline: none;

  margin: unset;
  padding: unset;

  background: transparent;
  background-color: unset;

  min-width: 0;

  width: max-content;
  height: max-content;

  max-width: 100%;
  box-sizing: border-box;

  font-size: inherit;

  &::placeholder {
    color: var(--font-color-4);
  }

  // https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
  &:-webkit-autofill {
    -webkit-background-clip: text;
  }

  &.editable,
  &.disabled,
  &.read-only,
  &.read-pretty {
    font-family: inherit;
  }

  &.read-pretty {
    width: min-content;
  }
}
