/* 动画相关样式 */

#root {
  --animation-delay-1: 0.2s;
  --animation-delay-2: 0.5s;
  --animation-delay-3: 0.7s;
  --animation-delay-4: 1s;
  --animation-delay-5: 1.2s;

  --duration-75: 75ms;
  --duration-100: 0.1s;
  --duration-150: 0.15s;
  --duration-200: 0.2s;
  --duration-300: 0.3s;
  
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fade-in,
.fade-out {
  animation-fill-mode: forwards;
  animation-duration: var(--duration-300);
  animation-timing-function: var(--ease-in-out);
}

.fade-in {
  animation-name: fade-in;
}

.fade-out {
  animation-name: fade-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes enter {
  0% {
    transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0));
  }
}

@keyframes exit {
  to {
    transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0));
  }
}

@keyframes burst {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes subtle {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.64;
  }

  to {
    opacity: 0.32;
  }
}
