#root {
  width: 100vw;
  height: 100vh;
  height: 100dvh;

  color: var(--font-color-8);
  font-size: var(--font-size-4);
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: var(--border-radius-10);
  background-color: var(--bg-color-mask);
}

*::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-10);
  background-color: var(--bg-color-thumb);
}