.wrap {
  align-items: center;
  display: inline-flex;
  justify-content: center;

  position: relative;
  box-sizing: border-box;

  background: unset;
  background-color: unset;

  border: none;
  outline: none;
  margin: unset;
  padding: unset;
  overflow: visible;
  border-radius: unset;

  cursor: pointer;
  appearance: none;
  user-select: none;
  vertical-align: middle;

  text-decoration: none;

  color: inherit;
  font-size: inherit;

  transition-duration: 200ms;
  transition-property: color border-color background-color;
  transition-timing-function: var(--ease-in-out-cubic);

  &::-moz-focus-inner {
    border-style: none;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.full-width {
    width: 100%;
  }

  &.mini {
    height: unset;
    font-size: inherit;
    line-height: inherit;
    vertical-align: inherit;
    &.capsule {
      border-radius: var(--border-radius-10);
    }
    &:not(.capsule) {
      border-radius: var(--border-radius-02);
    }
    &.padding {
      padding: 0 var(--gap-02);
    }
  }
  &.medium {
    font-size: var(--font-size-04);

    height: var(--control-size-06);
    min-width: var(--control-size-06);

    &.capsule {
      border-radius: var(--control-size-06);
    }
    &:not(.capsule) {
      border-radius: var(--border-radius-03);
    }
    &.padding {
      padding: 0 var(--gap-05);
    }
  }
  &.huge {
    height: var(--control-size-08);
    min-width: var(--control-size-08);

    font-size: var(--font-size-06);

    &.capsule {
      border-radius: var(--control-size-08);
    }
    &:not(.capsule) {
      border-radius: var(--border-radius-06);
    }
    &.padding {
      padding: 0 var(--gap-06);
    }
  }
}

/** variant */
.text {
  &:not(.disabled):not(.danger) {
    color: inherit;
    &:hover {
      background-color: var(--fill-color-hover);
    }
    &:focus-within {
      background-color: var(--fill-color-active);
    }
  }
  &.danger:not(.disabled) {
    color: var(--font-color-danger);
    &:hover {
      background-color: var(--fill-color-hover);
    }
    &:focus-within {
      background-color: var(--fill-color-active);
    }
  }
  &.danger.disabled {
    color: var(--danger-color-disabled);
  }
  &.disabled {
    color: var(--font-color-disabled);
  }
}

.filled {
  color: var(--font-color-b8);
  &:not(.danger):not(.disabled) {
    background-color: var(--secondary-color);
    &:hover {
      background-color: var(--secondary-color-hover);
    }
    &:focus-within {
      background-color: var(--secondary-color-active);
    }
  }
  &.danger:not(.disabled) {
    background-color: var(--danger-color);
    &:hover {
      background-color: var(--danger-color-hover);
    }
    &:focus-within {
      background-color: var(--danger-color-active);
    }
  }
  &.danger.disabled {
    background-color: var(--danger-color-disabled);
  }
  &.disabled {
    color: var(--font-color-disabled);
    background-color: var(--secondary-color-disabled);
  }
}

.bordered {
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;

  &:not(.disabled):not(.danger) {
    color: var(--secondary-color);
    &:hover {
      color: var(--secondary-color-hover);
    }
    &:focus-within {
      color: var(--secondary-color-active);
    }
  }
  &.danger:not(.disabled) {
    color: var(--font-color-danger);
    &:hover {
      color: var(--danger-color-hover);
    }
    &:focus-within {
      color: var(--danger-color-active);
    }
  }
  &.danger.disabled {
    color: var(--danger-color-disabled);
  }
  &.disabled:not(.danger) {
    color: var(--secondary-color-disabled);
  }
}

.icon {
  &.gap {
    margin-right: var(--gap-02);
  }
}
