.wrap {
  align-items: center;
  display: inline-flex;
  justify-content: center;

  position: relative;
  box-sizing: border-box;

  background: unset;
  background-color: unset;

  border: none;
  outline: none;
  margin: unset;
  padding: unset;
  overflow: visible;
  border-radius: unset;

  cursor: pointer;
  appearance: none;
  user-select: none;
  vertical-align: middle;

  text-decoration: none;

  color: inherit;
  font-size: inherit;

  &::-moz-focus-inner {
    border-style: none;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.full-width {
    width: 100%;
  }

  &.mini {
    height: unset;
    font-size: inherit;
    line-height: inherit;
    vertical-align: inherit;
    &.capsule {
      border-radius: 0.5lh;
    }
    &:not(.capsule) {
      border-radius: var(--border-radius-2);
    }
    &.padding {
      padding: 0 var(--gap-1);
    }
  }
  &.medium {
    font-size: var(--font-size-4);

    height: var(--control-size-6);
    min-width: var(--control-size-6);

    &.capsule {
      border-radius: var(--control-size-6);
    }
    &:not(.capsule) {
      border-radius: var(--border-radius-3);
    }
    &.padding {
      padding: 0 var(--gap-5);
    }
  }
  &.huge {
    height: var(--control-size-8);
    min-width: var(--control-size-8);

    font-size: var(--font-size-6);

    &.capsule {
      border-radius: var(--control-size-8);
    }
    &:not(.capsule) {
      border-radius: var(--border-radius-6);
    }
    &.padding {
      padding: 0 var(--gap-6);
    }
  }
}

/** variant */
.text,
.filled,
.bordered {
  overflow: initial;
}
.text {
  &:not(.danger):not(.disabled) {
    color: var(--font-info-color);
  }
  &.disabled {
    color: var(--font-disabled-color);
  }
  &.danger {
    color: var(--font-danger-color);
  }
}
.filled {
  color: var(--font-color-b8);

  &:not(.danger):not(.disabled) {
    background-color: var(--info-color);
    &:hover,
    &:focus-within {
      background-color: var(--info-color-hover);
    }
  }
  &.disabled {
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-disabled-color);
    background-color: var(--natural-color-disabled);
  }
  &.danger {
    background-color: var(--danger-color);
    &:hover,
    &:focus-within {
      border-color: var(--danger-color-hover);
    }
  }
}
.bordered {
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;

  &:not(.danger):not(.disabled) {
    color: var(--font-info-color);
    &:hover,
    &:focus-within {
      border-color: var(--border-active-color);
    }
  }
  &.disabled {
    color: var(--font-disabled-color);
    border-color: var(--border-disabled-color);
  }
  &.danger {
    color: var(--font-danger-color);
    &:hover,
    &:focus-within {
      border-color: var(--danger-color-hover);
    }
  }
}

.icon {
  &.gap {
    margin-right: var(--gap-2);
  }
}
