.card {
  width: 100%;
}

.widget {
  max-width: 100%;

  gap: 4px;
  display: flex;
  width: max-content;
  padding: 4px 7px 4px 11px;

  border-width: 1px;
  border-style: solid;
  border-radius: var(--ant-border-radius);
  border-color: var(--ant-color-error-border);

  color: var(--ant-color-error-text);
  transition-duration: var(--ant-motion-duration-fast);
  transition-timing-function: var(--ant-motion-ease-in-out-circ);

  &:not(.auto-size) > input {
    // 控制input宽度和`ant-input`组件的最小宽度保持一致:
    --input-min-width: calc(11em - var(--ant-line-height) * 1em + 18px);

    width: var(--input-min-width);
  }

  & > input {
    max-width: calc(100% - 2em);

    outline: none;
    border: unset;
    margin: unset;
    padding: unset;

    color: inherit;
    background-color: inherit;
    transition-duration: inherit;
    transition-timing-function: inherit;
  }

  & > svg {
    cursor: pointer;
    transform: scale(0.64);
    color: var(--ant-color-error-text);
    font-size: calc(var(--ant-line-height) * 1em);
    transition-duration: inherit;
    transition-timing-function: inherit;
  }

  &:hover {
    color: var(--ant-color-error-text-hover);
    border-color: var(--ant-color-error-border-hover);

    & > svg {
      transform: scale(0.8);
      color: var(--ant-color-error-text-hover);
    }
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  min-height: max-content;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 64px;

  .icon {
    font-size: 256px;
  }

  .title {
    font-size: 24px;
    margin: 16px 0 48px;
  }
}
