.wave {
  border-radius: 50%;
}

.icon {
  z-index: -1;
  pointer-events: none;

  border-width: 1px;
  border-radius: 50%;
  border-style: solid;
  border-color: currentColor;
}

.input {
  opacity: 0;
  z-index: 0;
  cursor: pointer;
}

.radio {
  position: relative;
  display: inline-block;

  .icon {
    color: var(--info-color);
  }

  .input {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &:hover {
    .icon {
      color: var(--info-color-hover);
    }
  }
}

.root {
  display: inline-flex;
}
