.wave {
  border-radius: 50%;
}

.icon {
  z-index: -1;
  pointer-events: none;

  border-width: 1px;
  border-radius: 50%;
  border-style: solid;
  border-color: currentColor;
}

.text {
  margin: 0 var(--gap-02);
  text-wrap: nowrap;
}

.input {
  opacity: 0;
  z-index: 0;
}

.radio {
  position: relative;
  display: inline-block;

  color: var(--secondary-color);

  &.checked {
    color: var(--secondary-color-active);
  }

  .input {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.root {
  display: inline-flex;

  &.mini {
    font-size: var(--font-size-03);
  }
  &.medium {
    font-size: var(--font-size-04);
  }
  &.huge {
    font-size: var(--font-size-05);
  }

  &.disabled {
    color: var(--font-color-disabled);

    .input {
      cursor: not-allowed;
    }

    .radio {
      color: var(--natural-color-disabled);
    }
  }

  &:not(.disabled):not(.read-only) {
    .radio {
      &:hover {
        color: var(--secondary-color-hover);
      }
    }
    .input {
      cursor: pointer;
    }
  }
}
