.page {
  width: 100vw;
  height: 100vh;
  height: 100dvh;

  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;
  background-color: rgb(var(--page-bg-color) / 1);

  & > .spin {
    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    justify-content: center;

    font-size: var(--font-size-10);
  }

  & > .background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;

    z-index: -1;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    pointer-events: none;
  }
}
