.wrap {
  position: relative;
  height: max-content;
}

.marker {
  position: absolute;

  &.part,
  &.required {
    top: calc(var(--gap-1) / 2);
    bottom: calc(var(--gap-1) / 2);
    height: calc(100% - var(--gap-1));
  }
}

.part {
  width: var(--gap-2);
  right: calc(100% + 0.3em);

  border-radius: var(--border-radius-2);
  background-color: rgb(var(--main-color));
}

.required {
  right: calc(100% + 0.15em);
  color: rgb(var(--error-color));
}

.no {
  color: inherit;
  right: calc(100% + 0em);
}
