.wrap {
  font-size: 48px;
  line-height: 80px;
  position: relative;
  white-space: nowrap;

  padding: var(--gap-03);

  color: var(--font-color-10);

  box-shadow: var(--shadow-06);

  border-radius: var(--border-radius-03);

  background-color: var(--bg-color-widgets);

  & > .vertical {
    // z-index: 0;
    position: relative;

    width: 100%;
    display: inline-block;
    margin-right: -100%;

    opacity: 0.64;
    border-top: 1px dashed;
  }

  & > svg {
    display: inline;
  }
}
