.chip {
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: unset;
  border: unset;
  outline: none;
  text-decoration: none;

  flex-grow: 0;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;

  /** variant */
  &.filled {
    color: rgb(var(--main-color));
    background-color: rgb(var(--chip-bg-color));
  }
  &.outlined {
    border: 1px solid rgb(var(--main-color));
  }

  &.disabled {
    cursor: not-allowed;
  }
  &.clickable {
    cursor: pointer;
  }

  /** size */
  &.mini {
    font-size: inherit;
    height: var(--control-size-3);
    border-radius: var(--border-radius-2);
    padding: 0 var(--gap-3);
  }
  &.medium {
    padding: 0 var(--gap-5);
    height: var(--control-size-5);
    font-size: var(--font-size-4);
    border-radius: var(--border-radius-3);
  }
  &.huge {
    font-size: var(--font-size-3);
    height: var(--control-size-5);
    padding: 0 var(--gap-5);
  }

  .icon {
    margin-left: -0.4em;
    margin-right: 0.4em;
  }

  .close {
    cursor: pointer;
    margin-left: 0.4em;
    margin-right: -0.4em;
  }
}
