.wrap {
  display: initial;
  display: -webkit-box;

  width: max-content;
  height: max-content;

  max-width: 100%;
  overflow: hidden;

  white-space: pre-wrap;
  word-break: break-all;
  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
}
