.wrap {
  box-sizing: border-box;
  white-space: pre-wrap;
  word-break: break-all;

  .content {
    overflow: auto;
    max-width: inherit;
    max-height: inherit;
    box-sizing: border-box;
    border-radius: var(--border-radius-03);
  }

  &.confirm {
    background-color: var(--bg-color-float);
  }

  &.card {
    width: max-content;
    height: max-content;
    background-color: transparent;
  }

  &.tooltip {
    width: max-content;

    color: var(--font-color-b8);
    font-size: var(--font-size-03);

    .content {
      padding: var(--gap-03) var(--gap-04);
      background-color: var(--bg-color-tip);

      &::-webkit-scrollbar-thumb {
        border-radius: var(--border-radius-10);
        background-color: var(--bg-color-thumb);
        box-shadow: var(--shadow-02);
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: transparent;
        border-radius: var(--border-radius-10);
      }
    }
  }
}
