.wrap {
  box-sizing: border-box;
  white-space: pre-wrap;
  word-break: break-all;

  .content {
    overflow: auto;
    max-width: inherit;
    max-height: inherit;
    border-radius: var(--border-radius-3);
  }

  &.tip,
  &.over,
  &.confirm {
    background-color: var(--bg-card-color);
  }

  &.tip {
    color: var(--font-color-b8);
    font-size: var(--font-size-3);

    .content {
      padding: var(--gap-2) var(--gap-3);
      background-color: var(--bg-popover-color);
    }
  }
}
