.snackbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  border-radius: var(--border-radius-02);
  background-color: rgb(var(--comp-bg-color));

  cursor: pointer;
  box-sizing: border-box;
  pointer-events: initial;

  overflow: hidden;

  -webkit-box-pack: start;
  -webkit-box-align: center;
  -webkit-tap-highlight-color: transparent;

  box-shadow: var(--shadow-04);

  &.mini {
    margin-top: var(--gap-04);
    padding: var(--gap-02) var(--gap-04);
  }
  &.medium {
    margin-top: var(--gap-05);
    line-height: var(--control-size-03);
    padding: var(--gap-03) var(--gap-05);
    max-width: calc(100% - 2 * var(--gap-04));
  }
  &.huge {
    margin-top: var(--gap-07);
    padding: var(--gap-04) var(--gap-06);
  }
}

.overlay {
  pointer-events: none;
}

.container {
  width: 100%;
  height: 100%;

  pointer-events: none;

  z-index: var(--z-index-toast);
}

.icon {
  font-size: 1em;
}

.info {
  .icon {
    color: rgb(var(--main-color) / 1);
  }
}
.warn {
  .icon {
    color: rgb(var(--warn-color) / 1);
  }
}
.danger {
  .icon {
    color: rgb(var(--error-color) / 1);
  }
}
.success {
  .icon {
    color: rgb(var(--success-color) / 1);
  }
}
