.wrap {
  font-size: 48px;
  line-height: 80px;
  position: relative;
  white-space: nowrap;

  color: var(--font-color-10);
  background-color: rgb(var(--tip-bg-color) / 0.85);

  & > .vertical {
    // z-index: 0;
    position: relative;

    width: 100%;
    display: inline-block;
    margin-right: -100%;

    opacity: 0.64;
    border-top: 1px dashed;
  }

  & > svg {
    display: inline;
  }
}
