.wrap {
  gap: 1em;
  display: grid;
  line-height: 1.5;
  font-size: var(--font-size-03);
  border-radius: var(--border-radius-04);
}

.title {
  white-space: pre-wrap;
}

.scale {
  width: 100%;
  height: 100%;
  border-right: var(--border-radius-03);
}
