.body {
  height: 100%;
}

.form {
  width: 90vw;
  box-sizing: border-box;
  border-radius: var(--border-radius-6);

  /* 自动布局 */
  padding: 0 var(--gap-7);

  background: radial-gradient(
    139% 139% at 2% 0%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.9) 32%,
    rgba(255, 255, 255, 0.3) 68%,
    rgba(255, 255, 255, 0.9) 100%
  );

  backdrop-filter: blur(20px);
  box-shadow: 20px 20px 60px 0px rgba(0, 0, 0, 0.04);
}

.title {
  padding: var(--gap-8) 0;
  & > h1 {
    margin: unset;
    padding: unset;
    font-size: var(--font-size-8);
  }
}
