.tick {
  flex-shrink: 0;
}

.option {
  height: 100%;
  cursor: pointer;

  font-size: var(--font-size-05);
  line-height: var(--control-size-03);
  padding: calc(var(--gap-01) + var(--gap-02)) var(--gap-03);

  &.active,
  &:hover {
    color: var(--primary-color-hover);
    background-color: var(--fill-color-hover);
  }

  &.selected:not(.active) {
    color: var(--primary-color-active);
    background-color: var(--fill-color-active);
  }
}

.virtualizer {
  max-height: calc(var(--control-size-06) * 8);
}

.floating {
  overflow: hidden;
  border-radius: var(--border-radius-03);
  z-index: var(--z-index-dropdown);

  width: 100%;

  outline: none;
  padding: var(--gap-03) 0;
  box-shadow: var(--shadow-02);
  font-size: var(--font-size-03);
  background-color: var(--bg-color-menu);
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  cursor: text;

  position: relative;

  box-sizing: border-box;
  justify-content: flex-start;

  max-width: 100%;
  min-height: var(--control-size-03);
  line-height: inherit;
}

.search {
  min-width: 1em;
  max-width: 100%;
  line-height: inherit;

  &::placeholder {
    color: var(--font-color-4);
  }
}

.editable,
.disabled,
.read-only {
  .wrap {
    width: 100%;
  }
}

.read-pretty {
  .wrap {
    width: auto;
  }
}

.reference {
  min-height: 1em;
  min-width: 12em;
  line-height: var(--control-size-03);

  box-sizing: border-box;

  &:not(.read-pretty) {
    width: 100%;
  }

  &.multiple {
  }

  &:not(.multiple) {
    .search {
      position: absolute;
    }

    &.keyword {
    }
  }
}
