.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.body,
.subtitle {
  margin: 0;
  max-width: 100%;
  word-break: break-all;

  &.margin {
    margin-bottom: 0.35em;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.body,
.subtitle {
  display: initial;
  display: -webkit-box;

  border-radius: var(--border-radius-02);

  width: max-content;
  height: max-content;

  max-width: 100%;
  overflow: hidden;

  white-space: pre-wrap;
  word-break: break-all;
  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
}

.h1,
.h2 {
  font-weight: 400;
}

.h3,
.h4,
.h5 {
  font-weight: 400;
}

.h1 {
  line-height: 1.167;
  letter-spacing: -0.01562em;
  font-size: var(--font-size-10);
}

.h2 {
  line-height: 1.2;
  letter-spacing: -0.00833em;
  font-size: var(--font-size-09);
}

.h3 {
  line-height: 1.167;
  letter-spacing: 0em;
  font-size: var(--font-size-08);
}

.h4 {
  line-height: 1.235;
  letter-spacing: 0.00735em;
  font-size: var(--font-size-07);
}

.h5 {
  line-height: 1.334;
  letter-spacing: 0em;
  font-size: var(--font-size-06);
}

.h6 {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  font-size: var(--font-size-05);
}

.subtitle {
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  font-size: var(--font-size-04);
}

.body {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  font-size: var(--font-size-03);
}

.inherit {
  display: inline-flex;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.measure {
  z-index: -1;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  pointer-events: none;
}
