.tick {
  flex-shrink: 0;
}

.option {
  height: 100%;
  border-radius: inherit;
  padding: calc(var(--gap-01) + var(--gap-02)) var(--gap-03);
  font-size: var(--font-size-05);
  line-height: var(--control-size-03);

  &.active,
  &:hover {
    color: var(--primary-color-hover);
    background-color: var(--fill-color-hover);
  }

  &.selected {
    color: var(--primary-color-active);
    background-color: var(--fill-color-active);
  }
}

.item {
  top: 0;
  left: 0;
  position: absolute;
  border-radius: var(--border-radius-03);

  width: 100%;
  flex-basis: 0;
  min-height: var(--control-size-06);

  cursor: pointer;
}

.empty {
  padding: var(--gap-03);
}

.wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  max-height: calc(var(--control-size-06) * 8 + 2 * var(--gap-03));

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: var(--border-radius-10);
    background-color: var(--bg-color-mask);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius-10);
    background-color: var(--bg-color-thumb);
  }
}
