.option {
  display: flex;
  gap: var(--gap-03);

  width: max-content;
  min-height: var(--control-size-06);

  cursor: pointer;

  font-size: var(--font-size-05);
  line-height: var(--control-size-03);
  padding: var(--gap-02) var(--gap-06);

  &:focus,
  &:hover {
    outline: none;
    color: var(--primary-color-hover);
    background-color: var(--fill-color-hover);
  }

  &.selected {
    color: var(--primary-color-active);
    background-color: var(--fill-color-active);
  }
}

.empty {
  padding: var(--gap-03);
}

.wrap {
  width: 100%;
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  box-shadow: var(--shadow-06);
  background-color: var(--bg-color-menu);

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: var(--border-radius-10);
    background-color: var(--bg-color-mask);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius-10);
    background-color: var(--bg-color-thumb);
  }
}
