.input {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  cursor: pointer;

  z-index: 1;
  opacity: 0;
}

.label {
  flex: 1;
  display: flex;
  align-items: center;

  text-wrap: nowrap;
  font-size: inherit;
  padding: 0 var(--gap-1);
}

.handle {
  z-index: 0;
  flex-shrink: 0;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-info-color);
  background-color: var(--bg-thumb-color);
}

.root {
  position: relative;

  display: inline-flex;

  align-items: center;
  justify-content: space-between;

  color: var(--font-color-b8);
  background-color: var(--primary-color);

  &.checked {
    flex-direction: row;
  }

  &:not(.checked) {
    flex-direction: row-reverse;
  }

  &.mini {
    padding: var(--gap-1);
    height: var(--control-size-2);

    --iswitch-size: calc(var(--control-size-2) - var(--gap-1) * 2);

    & > .label {
      font-size: var(--font-size-3);
    }
  }

  &.medium {
    padding: calc(var(--gap-1) * 1.5);
    height: var(--control-size-4);

    --iswitch-size: calc(var(--control-size-4) - var(--gap-1) * 3);

    & > .label {
      font-size: var(--font-size-4);
    }
  }

  &.huge {
    padding: var(--gap-2);
    height: var(--control-size-5);

    --iswitch-size: calc(var(--control-size-5) - var(--gap-2) * 2);

    & > .label {
      font-size: var(--font-size-6);
    }
  }

  & {
    border-radius: var(--iswitch-size);
  }

  & > .label {
    height: var(--iswitch-size);
    min-width: var(--iswitch-size);
  }

  & > .handle {
    width: var(--iswitch-size);
    height: var(--iswitch-size);
  }

  &.editable,
  &.read-only,
  &.read-pretty {
    font-family: inherit;
  }

  &.disabled {
    color: var(--font-disabled-color);
  }

  & > .input {
    position: absolute;
  }
}
