.input {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
  opacity: 0;
}

.label {
  flex: 1;
  display: flex;
  align-items: center;

  text-wrap: nowrap;
  font-size: inherit;
}

.thumb {
  flex-shrink: 0;
  border-radius: 50%;

  display: flex;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  color: var(--font-color-info);
  background-color: var(--bg-color-thumb);
}

.root {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  transition-duration: 300ms;
  transition-property: background-color;
  transition-timing-function: var(--ease-in-back);

  & > .input {
    position: absolute;
  }

  & > .label {
    height: var(--iswitch-size);
    min-width: var(--iswitch-size);
  }

  & > .thumb {
    width: var(--iswitch-size);
    height: var(--iswitch-size);
  }

  &.checked {
    flex-direction: row;
  }

  &:not(.checked) {
    flex-direction: row-reverse;
  }

  &.editable,
  &.read-only {
    &.checked {
      background-color: var(--primary-color);
    }

    &:not(.checked) {
      background-color: var(--natural-color);
    }
  }

  &.editable {
    & > input {
      cursor: pointer;
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--font-color-disabled);
    background-color: var(--natural-color-disabled);
  }

  &.read-pretty {
    font-family: inherit;
    color: var(--font-color-8);
  }

  &:not(.read-pretty) {
    color: var(--font-color-b8);
    border-radius: var(--iswitch-size);

    & > .label {
      padding: 0 var(--gap-01);
    }

    &.mini {
      padding: var(--gap-01);
      height: var(--control-size-02);

      --iswitch-size: calc(var(--control-size-02) - var(--gap-01) * 2);

      & > .label {
        font-size: var(--font-size-03);
      }
    }

    &.medium {
      padding: calc(var(--gap-01) * 1.5);
      height: var(--control-size-03);

      --iswitch-size: calc(var(--control-size-03) - var(--gap-01) * 3);

      & > .label {
        font-size: var(--font-size-04);
      }
    }

    &.huge {
      padding: var(--gap-02);
      height: var(--control-size-05);

      --iswitch-size: calc(var(--control-size-05) - var(--gap-02) * 2);

      & > .label {
        font-size: var(--font-size-06);
      }
    }
  }
}
