.wrap {
  width: 100%;
  height: max-content;
}

.cell,
.icon,
.grid,
.title,
.colon {
  box-sizing: border-box;
}

.icon {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.4em;
  vertical-align: text-bottom;
}

.marker {
  word-break: break-all;
  white-space: pre-wrap;
}

.title {
  z-index: 0;
  line-height: inherit;
  padding: 8px 6px 8px 0;

  display: flex;
  align-items: flex-start;

  & > .colon {
    flex-grow: 0;
    flex-shrink: 0;

    width: 1em;
    padding-left: 0.16em;
  }
}

.control {
  position: relative;

  & > .wrapper {
    min-width: 100%;
    min-height: var(--control-size-06);
  }
}

.cell {
  width: 100%;

  .grid {
    display: grid;

    &.vertical {
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, max-content);
    }
  }

  &.margin {
    &.read-pretty {
      margin-bottom: var(--gap-04);
    }

    &:not(.read-pretty) {
      margin-bottom: var(--gap-06);
    }
  }

  &:not(.margin) {
    margin: unset;
  }

  &.warn,
  &.danger,
  &.success,
  &.vaildating {
    font-size: var(--font-size-04);
  }

  &.danger {
    .feedback {
      color: var(--font-color-danger);
    }
  }

  &.show-title {
  }

  &:not(.show-title) {
  }

  &.mini {
    line-height: var(--control-size-02);
    .feedback {
      font-size: var(--font-size-01);
      &.with-margin {
        min-height: var(--control-size-01);
      }
    }
  }
  &.medium {
    line-height: var(--control-size-03);
    .feedback {
      font-size: var(--font-size-01);
      &.with-margin {
        min-height: var(--control-size-02);
      }
    }
  }
  &.huge {
    .feedback {
      font-size: var(--font-size-02);
      &.with-margin {
        min-height: var(--control-size-03);
      }
    }
  }
}
