.group {
  & > .wrap {
    &:not(:first-of-type) {
      margin-top: var(--gap-02);
    }
  }
}

.wrap {
  background-color: rgb(var(--comp-bg-color));
}

.header,
.content {
  padding-left: var(--gap-05);
  padding-right: var(--gap-05);
}

.trigger {
  width: 1.5em;
  height: 1.5em;
}

.header {
  position: relative;
  padding-top: var(--gap-05);
  padding-bottom: var(--gap-05);

  .title {
    font-weight: 500;
    font-size: var(--font-size-06);
  }

  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    content: "";
    position: absolute;

    pointer-events: none;

    border-bottom: 1px solid rgb(var(--page-bg-color));
  }
}
