.wave {
  border-radius: 50%;
}

.icon {
  z-index: -1;
  pointer-events: none;
}

.text {
  margin: 0 var(--gap-02);
}

.input {
  opacity: 0;
  z-index: 0;
  cursor: pointer;
}

.checkbox {
  position: relative;
  display: inline-block;

  border-radius: var(--border-radius-02);

  color: var(--secondary-color);

  .input {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.root {
  display: inline-flex;

  &:hover {
    color: var(--secondary-color-hover);
  }

  &.mini {
    font-size: var(--font-size-03);
  }

  &.medium {
    font-size: var(--font-size-04);
  }

  &.huge {
    font-size: var(--font-size-05);
  }

  &.checked,
  &.focus,
  &.variant,
  &.indeterminate {
    font-family: inherit;
  }

  &.editable,
  &.disabled,
  &.read-only,
  &.read-pretty {
    font-family: inherit;
  }

  &.disabled {
    color: var(--font-color-disabled);
  }

  &.checked {
    color: var(--secondary-color-active);
  }
}
