.icon {
  z-index: -1;
  pointer-events: none;
  border-radius: var(--border-radius-02);

  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color-3);
}

.text {
  margin: 0 var(--gap-02);
}

.wave {
  border-radius: var(--border-radius-10);
}

.input {
  opacity: 0;
  z-index: 0;
}

.checkbox {
  position: relative;
  display: inline-block;
  border-radius: var(--border-radius-02);

  .wave,
  .input {
    width: 1em;
    height: 1em;

    position: absolute;
    border-radius: inherit;
    inset: calc(50% - 0.5em) 0 calc(50% + 0.5em);
  }
}

.editable {
  .input {
    cursor: pointer;
  }
  &.checked,
  &.indeterminate {
    .checkbox {
      .icon {
        color: var(--font-color-b8);
        border-color: var(--secondary-color-active);
        background-color: var(--secondary-color-active);
      }
    }
  }
  &:not(.checked):not(.indeterminate) {
    .checkbox {
      &:hover {
        .icon {
          border-color: var(--secondary-color-hover);
        }
      }
    }
  }
}

.read-only {
  &.checked,
  &.indeterminate {
    .checkbox {
      color: var(--secondary-color-active);
    }
  }
}

.disabled {
  color: var(--font-color-disabled);
  .checkbox {
    color: var(--font-color-disabled);
  }
}

.root {
  &.editable,
  &.disabled,
  &.read-only,
  &.read-pretty {
    display: inline-flex;
  }
  &.mini {
    font-size: var(--font-size-02);
  }

  &.medium {
    font-size: var(--font-size-04);
  }

  &.huge {
    font-size: var(--font-size-06);
  }
}
